body {
    margin: 0;
    padding: 0;
    background-image: url('https://github.com/KurisuRakko/picx-images-hosting/raw/master/e1f3ce8ba91b02a894b59457e0c23fc4298252208.7axn7ei8s0.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.glass {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background-color: rgba(255, 255, 255, 0.4) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

[data-mantine-color-scheme="dark"] .glass {
    background-color: rgba(36, 36, 36, 0.4) !important;
    border: 1px solid rgba(255, 255, 255, 0.05) !important;
}